SERVER_PORT=3000
DATABASE_URL="postgresql://username:password@localhost:5432/code_editor"
SALT_ROUNDS=10
API_VERSION="v1"

JWT_TOKEN_COOKIE_SECURE=true
JWT_TOKEN_COOKIE_HTTP_ONLY=true
JWT_TOKEN_COOKIE_SAME_SITE=none
JWT_TOKEN_ISSUER="com.user.app"

JWT_TOKEN_ACCESS_SECRET="YOUR SECRET KEY"
JWT_TOKEN_REFRESH_SECRET="YOUR SECRET KEY"

ACCESS_TOKEN_EXPIRY=900
ACCESS_TOKEN_COOKIE_NAME="access-token"
REFRESH_TOKEN_EXPIRY=604800
REFRESH_TOKEN_COOKIE_NAME="refresh-token"
REFRESH_COOKIE_MAX_AGE=604800000
ACCESS_COOKIE_MAX_AGE=900000