



node_modules/
.pnp/
.pnp.js






.env
.env.*
!.env.example






dist/
build/
out/

*.tsbuildinfo







projects/


uploads/
storage/






logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*






coverage/
*.lcov
.nyc_output/






.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.temp/
.npm/






*.tsbuildinfo






.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/






.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*






.node_repl_history
*.tgz






*.pid
*.pid.lock
*.seed






.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini






.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo






*.tmp
*.temp
*.bak
/generated/prisma
